* {
    box-sizing: border-box;
    margin: 0;  
}

h1, h2, label {
    font-family: 'Mukta', sans-serif;
}

label, .prev-call-subtitle {
    font-size: 1em;
    font-weight: bold;
}


body {
    background: rgb(176,176,176);
    background: linear-gradient(230deg, rgba(176,176,176,1) 0%, rgba(55,55,55,1) 35%, rgba(159,159,159,1) 100%);
}

.prev-call-box > div {
    margin: 1em;
    padding: .5em;
    border: 1px solid black;
}



.header-container {
    width: 85%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 5px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}



.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    background: 0;
}

.search-container {
    display: flex;
}

.search-container form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search-input {
    display: flex;
}

.search-input > * {
    margin: 0px 10px 0px 0px;
}



button {
    align-self: flex-end;
    width: 100px;
}


form, .prev-call-box {
    display: grid;
    grid-gap: 3px;
    place-items: center;
    grid-template-areas: 
            "d . e"
            "t n c"
            "m m m"
            ". s .";
}

form > div > input {
    display: flex;
    width:200px;
}



.label-input-message {
    display: flex;
    flex-direction: column;
    width:100%;
}

.prev-call-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.prev-call-container {
    background-color: rgb(149, 149, 149);
    margin: 1em;
    border-radius: 10px;
}

.prev-call-container h2 {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0.5em;
}

.call-box, .prev-call-box {
    background-color: whitesmoke;
    padding: 10px;
    width: 85%;
    border-radius: 5px;
}

.prev-call-box {
    margin: 5px;
    width: 100%;

}

#message {
    height: 100px;
}

.label-input-date {
    grid-area: d;
}

.label-input-name {
    grid-area: n;
}

.label-input-employee {
    grid-area: e;
}

.label-input-telephone {
    grid-area: t;
}

.label-input-company {
    grid-area: c;
}

.label-input-message {
    grid-area: m;

}

.label-input-button {
    grid-area: s;
    text-align: center;
}

.prev-call-message {
    grid-area: m;
    place-self: stretch; /* This will stretch the item to occupy the whole cell */
}

.prev-call-number {
    grid-area: t;
}

.prev-call-employee {
    grid-area: e;
}

.prev-call-name {
    grid-area: n;
}

.prev-call-company {
    grid-area: c;
}

.image-logo-gb {
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 785px) {
    form, .prev-call-box {
        grid-template-areas: 
            "d"
            "n"
            "e"
            "t"
            "c"
            "m"
            "s";
    }

    form > div > input {
        width: 100%;
        box-sizing: border-box;
    }

    .prev-call-box > div {
        margin: 0;
    }

    .search-input {
        flex-direction: column;
        align-items: center;
    }

    .search-input > * {
        margin: 5px 0;
    }

}









