

* {
    box-sizing: border-box;
    margin: 0;  
}

h1, h2, label, input {
    font-family: 'Mukta', sans-serif;
}

label, .prev-call-subtitle {
    font-size: 1em;
    font-weight: bold;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.prev-call-box > div {
    margin: 1em;
    padding: .5em;
    border: 1px solid black;
}



.header-container {
    width: 85%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 5px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    background: 0;
}

body {
    background-color: rgb(149, 149, 149);

}

.search-container {
    display: flex;
}

.search-container form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search-input {
    display: flex;
}

.search-input > * {
    margin: 0px 10px 0px 0px;
}

#auth-sign-in, #auth-sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    padding: 1em;
    margin-top: 2em;

    
}

.see-more-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginsignup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 100vh;
}



button {
    align-self: flex-end;
    width: 100px;
}


form, .prev-call-box {
    display: grid;
    grid-gap: 3px;
    place-items: center;
    grid-template-areas: 
            "d . e"
            "t n c"
            "m m m"
            ". s .";
}

form > div > input {
    display: flex;
    width:200px;
}



.label-input-message {
    display: flex;
    flex-direction: column;
    width:100%;
}

.prev-call-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.prev-call-container {
    margin: 1em;
    border-radius: 10px;
}



.prev-call-container h2 {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0.5em;
}

.call-box, .prev-call-box {
    background-color: whitesmoke;
    padding: 10px;
    width: 85%;
    border-radius: 5px;
}

.prev-call-box {
    margin: 5px;
    width: 100%;
}

#message {
    height: 100px;
}

.label-input-date {
    grid-area: d;
    background-color: #3C79BD;
    border-radius: 5px;
    padding: 2px;
    color: whitesmoke;
}

.label-input-name {
    grid-area: n;
    background-color: #3C79BD;
    border-radius: 5px;
    padding: 2px;
    color: whitesmoke;

}

.label-input-employee {
    grid-area: e;
    background-color: #3C79BD;
    border-radius: 5px;
    padding: 2px;
    color: whitesmoke;

}

.label-input-telephone {
    grid-area: t;
    background-color: #3C79BD;
    border-radius: 5px;
    padding: 2px;
    color: whitesmoke;

}

.label-input-company {
    grid-area: c;
    background-color: #3C79BD;
    border-radius: 5px;
    padding: 2px;
    color: whitesmoke;

}

.label-input-message {
    grid-area: m;
    background-color: #3C79BD;
    border-radius: 5px;
    padding: 2px;
    color: whitesmoke;

}

.label-input-button {
    grid-area: s;
    text-align: center;
}

.prev-call-message {
    grid-area: m;
    place-self: stretch; /* This will stretch the item to occupy the whole cell */
}

.prev-call-number {
    grid-area: t;
}

.prev-call-employee {
    grid-area: e;
}

.prev-call-name {
    grid-area: n;
}

.prev-call-company {
    grid-area: c;
}

.image-logo-gb {
    width: 100px;
    height: 100px;
    margin: 1em;
}

.non-styled-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@media only screen and (max-width: 785px) {
    form, .prev-call-box {
        grid-template-areas: 
            "d"
            "n"
            "e"
            "t"
            "c"
            "m"
            "s";
    }

    form > div > input {
        width: 100%;
        box-sizing: border-box;
    }

    .prev-call-box > div {
        margin: 0;
    }

    .search-input {
        flex-direction: column;
        align-items: center;
    }

    .search-input > * {
        margin: 5px 0;
    }

}









